/* Put your style information here! */
/* I picked the colors from this design: https://www.awwwards.com/sites/grosse-lanterne-1 */

/* comfortaa-regular - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/comfortaa-v29-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/comfortaa-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/comfortaa-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/comfortaa-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/comfortaa-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/comfortaa-v29-latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

:root {
    --bg-color: #e89f71;
    --bg-color-one: #d57149;
    --bg-color-two: #aa4a30;
    --bg-color-three: #883B26;
    --bg-color-four: #aa4a30;
    --txt-font-p: 'Comfortaa';
    --txt-color-primary: #edcfa9;
    --padding-top: 3.5rem;
    --padding-bottom: 4rem;
}

body {
    background-color: var(--bg-color);
    color: var(--txt-color-primary);
}

img {
    margin: 1rem;
}

a {
    color: mediumseagreen;
}

#navbar {
    background-color: var(--bg-color-three);
}

#intro {
    padding-top: var(--padding-top);
    background-color: var(--bg-color);
    color: var(--bg-color-one);
    /* padding-bottom: var(--padding-bottom);  */
}

#section-one {
    padding-top: var(--padding-top);  
    background-color: var(--bg-color-one);
    padding-bottom: var(--padding-bottom);
}

#section-two {
    padding-top: var(--padding-top); 
    background-color: var(--bg-color-two);
    padding-bottom: var(--padding-bottom); 
}

#section-three {
    padding-top: var(--padding-top); 
    background-color: var(--bg-color-three);
    padding-bottom: var(--padding-bottom); 
}

#section-four {
    padding-top: var(--padding-top); 
    background-color: var(--bg-color-four);
    padding-bottom: var(--padding-bottom); 
}

h1{
    padding-bottom: 3rem;
}

h2,
h4,
p{
    font-family: 'Comfortaa';
    max-width: 40rem;
    margin: 1.5rem;
}
